# Railway PostgreSQL (cuando agregues el servicio PostgreSQL en Railway, esto se autocompleta)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tienda_camas

PORT=3000
NODE_ENV=development

# Cambiar en producción por un valor seguro
JWT_SECRET=cambiar_esto_en_produccion_123
JWT_EXPIRES=8h

CORS_ORIGIN=http://localhost:5173

# En Railway: sube a producción
# RAILWAY_ENVIRONMENT=production
